<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <link href="https://fonts.google.com/?selection.family=Manjari" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
    <div align="right">
      <% if logged_in? %>
        Hey there, <%= current_user.email %>!
        <form action="<%=session_url%>" method="post">
          <input
            type="hidden"
            name="authenticity_token"
            value="<%=form_authenticity_token%>"/>
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="log out?">
        </form>
      <% else %>
        <a href="<%= new_session_url %>">Log In | </a>
        <a href="<%= new_user_url%>">Sign Up Now</a>
      <% end %>
    </div>
   <h1>Music App</h1> 

    <%=flash[:errors]%>
    <%= yield %>
  </body>
</html>
