<h1> Edit a track</h1>

<form action="<%=track_url%>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label>Album
    <select name="track[album_id]">
      <option value="<%@track.album.id%>"> <%=@track.album.title%> </option>
      <%@albums.each do |album|%>
      <%next if album == @track.album%>
        <option value="<%=album.id%>"> <%= album.title %></option>
      <%end%>
    </select>
  </label>

  <label>Title 
    <input type="text" name="track[title]" value=<%=@track.title%>/>
  </label>

  <label>Track Number
    <input type="number" name="track[ord]" value=<%=@track.ord%>/>
  </label>

  <label>Track Type 
    <input
      type="radio"
      name="track[track_type]"
      value="Regular"
      id="reg_track" 
      <%= @track.track_type == "Regular" ? "checked" : "" %> 
      />
    <label for="reg_track">Regular</label>
    <input
      type="radio"
      name="track[track_type]"
      value="Bonus"
      id="bonus_track" 
      <%= @track.track_type == "Bonus" ? "checked" : "" %> 
      />
    <label for="bonus_track">Bonus</label>
  </label>
  </br>
  <label>Lyrics
    <textarea name="track[lyrics]"></textarea>
  </label>
  <input type="submit" value="Submit the track">

</form>